.hide {
	display: none;
}
.show {
	display: inline-block;
}
.carousel_products {
	position: absolute;
	left: 234px;
	top: 0px;
	z-index: 1;

	white-space: nowrap;
	background: transparent;
	box-shadow: 0 8px 16px rgba(0, 0, 0, .18);
}
